.graduate-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.form-title {
  margin-bottom: 0;
}

.form-text {
  display: flex;
  flex-direction: column;
  margin: 30px 0 10px;
  row-gap: 10px;
}

.demo-helper-text-aligned {
  width: 250px;
}

.role-area {
  margin-bottom: 30px;
  width: 230px;
  border: 1.5px solid lightgray;
}

@media screen and (min-width: 700px) {
  #name-field {
    grid-area: name;
    margin-bottom: 10px;
  }

  #github-field {
    grid-area: github;
    margin-bottom: 10px;
  }

  #cv-field {
    grid-area: cv;
    margin-bottom: 10px;
  }

  #role {
    display: flex;
    justify-content: space-around;
    grid-area: role;
    margin-top: 0;
    padding: 8px;
    border-radius: 3px;
  }

  #form-info {
    grid-area: info;
  }

  #submit-btn {
    grid-area: submit;
  }

  .form-text {
    width: 80%;
    justify-content: center;
    align-items: baseline;
  }

  .role-selection {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 5px;
  }

}
