header {
  background-color: #f4effb;
  height: 44px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: none;
}

@media screen and (min-width: 1000px) {
  .header-bar {
    display: flex;
    align-items: center;
  }

  .icon {
    display: none;
  }

  .menu-list {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .menu-list:hover {
    color: #ff1493;
    text-decoration: dotted;
  }
}
