.icon {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  cursor: pointer;
}

.close-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  margin: 20px 13px;
  padding: 5px;
  cursor: pointer;
}

.menu-icon {
  width: 15px;
  border: 1px solid black;
}

.bar-one {
  transform: rotate(50deg);
  transform-origin: left;
  margin-bottom: -6px;
}

.bar-two {
  transform: rotate(-50deg);
  transform-origin: right;
  margin-top: 4px;
  margin-right: 6px;
}

.list {
  display: flex;
  flex-direction: column;
  width: 10em;
  margin: 35px auto;
  row-gap: 25px;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-menu {
  background: #fae1e2;
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  z-index: 2;
  right: 0px;
}

.list:hover {
  color: deeppink;
  text-decoration: dotted;
}

@media screen and (min-width: 700px) {
  .nav-menu {
    width: 50%;
  }
}
