.graduate-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graduate-data {
  border: 2px #c8a8e9 solid;
  margin: 0 10px 20px;
  padding-top: 15px;
  width: 290px;
  max-width: 320px;
  height: 509px;
}

.graduate-data:hover {
  rotate: y 1turn;
  /* scale: 1; */
  background-color: #f5bcba;
  border-color: #f5bcba;
  box-shadow: 0.25rem 0.25rem 0.5rem #fe6f12;
}

.graduate-data img {
  width: 170px;
  border-radius: 90px;
}

.bio {
  padding: 10px;
}

.link-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grad-role {
  text-transform: capitalize;
}

@media screen and (min-width: 700px) {
  .graduate-card {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    margin: 0 10px;
    justify-items: center;
  }

  .bio {
    margin: 16px;
  }

  .graduate-data {
    width: 311px;
  }
}

@media screen and (min-width: 1000px) {
  #avatar {
    grid-area: avatar;
    /* transition: rotate 600ms, scale 1s; */
  }

  #grad-name {
    grid-area: name;
  }

  #grad-role {
    grid-area: role;
  }

  #grad-bio {
    grid-area: bio;
  }

  #grad-cv {
    grid-area: cv;
  }

  #grad-gh {
    grid-area: github;
  }

  #grad-email {
    grid-area: email;
  }

  #grad-linkedin {
    grid-area: linkedin;
  }

  #grad-website {
    grid-area: website;
  }

  .link-info {
    grid-area: links;
    display: flex;
    justify-content: space-evenly;
  }

  .graduate-data {
    display: grid;
    /* perspective: 60rem; */
    grid-template-areas:
      "avatar name"
      "avatar role"
      "bio bio"
      "links links";
    padding: 20px 20px 15px;
    align-items: center;
    width: 22rem;
    /* grid-template-columns: 0.7fr; */
  }
}
